
@{
    ViewBag.Title = "AdminZone";
}

<h2>Admin Zone</h2>

<a href="@Url.Action("ViewService","Service")">Services View</a>

<a href="@Url.Action("ViewClient","Client")">Client View</a>

<a href="@Url.Action("mailView","Home")">Mail View</a>

