
@{
    ViewBag.Title = "About";
}


<!--banner-->
<div class="banner1">
    <div class="container">
        <h3 class="animated wow slideInLeft" data-wow-delay=".5s"><a href="index.html">Home</a> / <span>About Us</span></h3>
    </div>
</div>
<!--banner-->
<div class="content">
    <!--about-->
    <div class="about-w3">
        <div class="container">
            <h2 class="tittle">About Us</h2>
            <div class="about-grids">
                <div class="col-md-8 about-grid">
                    <div class="about-img">
                        <img class="img-responsive" src="~/images/a.jpg" alt="" />
                    </div>
                    <div class="about-img">
                        <img class="img-responsive" src="~/images/a1.jpg" alt="" />
                    </div>
                    <div class="about-img">
                        <img class="img-responsive" src="~/images/a2.jpg" alt="" />
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-4 about-grid1 test">
                    <h4>Voluptatem quia voluptas</h4>
                    <p>
                        Nemo enim ipsam voluptatem quia
                        voluptas sit aspernatur aut odit aut fugit,
                        sed quia consequuntur magni dolores eos qui
                        ratione voluptatem sequi nesciunt. Nemo enim ipsam voluptatem quia
                        voluptas sit aspernatur aut odit aut fugit,
                        sed quia consequuntur magni dolores eos qui
                        ratione voluptatem sequi nesciunt.
                    </p>
                    <p>
                        Nemo enim ipsam voluptatem quia voluptas
                        sit aspernatur aut odit aut fugit, sed quia
                        consequuntur magni dolore.
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="about-grids">
                <div class="col-md-4 about-grid1">
                    <h4>Sed quia consequuntur </h4>
                    <p>
                        Nemo enim ipsam voluptatem quia
                        voluptas sit aspernatur aut odit aut fugit,
                        sed quia consequuntur magni dolores eos qui
                        ratione voluptatem sequi nesciunt. Nemo enim ipsam voluptatem quia
                        voluptas sit aspernatur aut odit aut fugit,
                        sed quia consequuntur magni dolores eos qui
                        ratione voluptatem sequi nesciunt.
                    </p>
                    <p>
                        Nemo enim ipsam voluptatem quia voluptas
                        sit aspernatur aut odit aut fugit, sed quia
                        consequuntur magni dolore.
                    </p>
                </div>
                <div class="col-md-8 about-grid test">
                    <div class="about-img">
                        <img class="img-responsive" src="~/images/a3.jpg" alt="" />
                    </div>
                    <div class="about-img">
                        <img class="img-responsive" src="~/images/a4.jpg" alt="" />
                    </div>
                    <div class="about-img">
                        <img class="img-responsive" src="~/images/a2.jpg" alt="" />
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--about-->
    <!--whychoose-->
    <div class="whychoose-w3ls">
        <div class="container">
            <h3 class="tittle">why choose us</h3>
            <div class="choose-grids">
                <div class="col-md-4 choose-grid">
                    <h4><i class="glyphicon glyphicon-user" aria-hidden="true"></i>Nam aliquam pretium</h4>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolore.ultrices vitae, congue non</p>
                </div>
                <div class="col-md-4 choose-grid">
                    <h4><i class="glyphicon glyphicon-lock" aria-hidden="true"></i>Nam aliquam pretium</h4>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolore.ultrices vitae, congue non</p>
                </div>
                <div class="col-md-4 choose-grid">
                    <h4><i class="glyphicon glyphicon-book" aria-hidden="true"></i>Nam aliquam pretium</h4>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolore.ultrices vitae, congue non</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="choose-grids">
                <div class="col-md-4 choose-grid">
                    <h4><i class="glyphicon glyphicon-home" aria-hidden="true"></i>Nam aliquam pretium</h4>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolore.ultrices vitae, congue non</p>
                </div>
                <div class="col-md-4 choose-grid">
                    <h4><i class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></i>Nam aliquam pretium</h4>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolore.ultrices vitae, congue non</p>
                </div>
                <div class="col-md-4 choose-grid">
                    <h4><i class="glyphicon glyphicon-zoom-in" aria-hidden="true"></i>Nam aliquam pretium</h4>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolore.ultrices vitae, congue non</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--whychoose-->
    <!--teams-->
    <div class="teams-w3">
        <div class="container">
            <h3 class="tittle1"> Our Teams</h3>
            <div class="teams-grids">
                <div class="col-md-3 teams-grid">
                    <img src="~/images/t1.jpg" class="img-responsive" alt="" />
                </div>
                <div class="col-md-3 teams-grid1">
                    <h4>John Doe</h4>
                    <p>Nam aliquam pretium feugiat. Duis sem est viverra eu interdum ac suscipit Nam aliquam pretium feugiat. Duis sem est viverra eu interdum ac suscipit </p>
                    <a class="team-link" href="mailto:info@example.com">mail@example.com</a>
                    <div class="social-icons">
                        <a href="#"><i class="icon"></i></a>
                        <a href="#"><i class="icon1"></i></a>
                        <a href="#"><i class="icon2"></i></a>
                        <a href="#"><i class="icon3"></i></a>
                    </div>
                </div>
                <div class="col-md-3 teams-grid">
                    <img src="~/images/t2.jpg" class="img-responsive" alt="" />
                </div>
                <div class="col-md-3 teams-grid1">
                    <h4>Laura Carl</h4>
                    <p>Nam aliquam pretium feugiat. Duis sem est viverra eu interdum ac suscipit Nam aliquam pretium feugiat. Duis sem est viverra eu interdum ac suscipit</p>
                    <a class="team-link" href="mailto:info@example.com">mail@example.com</a>
                    <div class="social-icons">
                        <a href="#"><i class="icon"></i></a>
                        <a href="#"><i class="icon1"></i></a>
                        <a href="#"><i class="icon2"></i></a>
                        <a href="#"><i class="icon3"></i></a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="teams-grids">
                <div class="col-md-3 teams-grid">
                    <img src="~/images/t3.jpg" class="img-responsive" alt="" />
                </div>
                <div class="col-md-3 teams-grid1">
                    <h4>Lewis Tompson</h4>
                    <p>Nam aliquam pretium feugiat. Duis sem est viverra eu interdum ac suscipit Nam aliquam pretium feugiat. Duis sem est viverra eu interdum ac suscipit </p>
                    <a class="team-link" href="mailto:info@example.com">mail@example.com</a>
                    <div class="social-icons">
                        <a href="#"><i class="icon"></i></a>
                        <a href="#"><i class="icon1"></i></a>
                        <a href="#"><i class="icon2"></i></a>
                        <a href="#"><i class="icon3"></i></a>
                    </div>
                </div>
                <div class="col-md-3 teams-grid">
                    <img src="~/images/t4.jpg" class="img-responsive" alt="" />
                </div>
                <div class="col-md-3 teams-grid1">
                    <h4>Jessica Priston</h4>
                    <p>Nam aliquam pretium feugiat. Duis sem est viverra eu interdum ac suscipit Nam aliquam pretium feugiat. Duis sem est viverra eu interdum ac suscipit</p>
                    <a class="team-link" href="mailto:info@example.com">mail@example.com</a>
                    <div class="social-icons">
                        <a href="#"><i class="icon"></i></a>
                        <a href="#"><i class="icon1"></i></a>
                        <a href="#"><i class="icon2"></i></a>
                        <a href="#"><i class="icon3"></i></a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <!--teams-->
</div>
