
@{
    ViewBag.Title = "Gallery";
}
<!--banner-->
<div class="banner1">
    <div class="container">
        <h3 class="animated wow slideInLeft" data-wow-delay=".5s"><a href="index.html">Home</a> / <span>Gallery</span></h3>
    </div>
</div>
<!--banner-->
<!--gallery-->
<div class="content">
    <div class="gallery-w3l">
        <div class="container">
            <h2 class="tittle"> Gallery</h2>
            <div class="gallery-grids">
                <div class="col-sm-6 gallery-grids-left">
                    <div class="gallery-grid">
                        <a href="~/images/g1.jpg" class="b-link-stripe b-animate-go  swipebox">
                            <div class="port-7 effect-3">
                                <div class="image-box">
                                    <img src="~/images/g1.jpg" alt=" ">
                                </div>
                                <div class="gal-desc">
                                    <h4>kitchen</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 gallery-grids-left">
                    <div class="gallery-grid">
                        <a href="~/images/g3.jpg" class="b-link-stripe b-animate-go  swipebox">
                            <div class="port-7 effect-3">
                                <div class="image-box">
                                    <img src="~/images/g3.jpg" alt=" ">
                                </div>
                                <div class="gal-desc">
                                    <h4>kitchen</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 gallery-grids-left pro-top">
                    <div class="gallery-grid">
                        <a href="~/images/g4.jpg" class="b-link-stripe b-animate-go  swipebox">
                            <div class="port-7 effect-3">
                                <div class="image-box">
                                    <img src="~/images/g4.jpg" alt=" ">
                                </div>
                                <div class="gal-desc">
                                    <h4>kitchen</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 gallery-grids-left pro-top">
                    <div class="gallery-grid">
                        <a href="~/images/g2.jpg" class="b-link-stripe b-animate-go  swipebox">
                            <div class="port-7 effect-3">
                                <div class="image-box">
                                    <img src="~/images/g2.jpg" alt=" ">
                                </div>
                                <div class="gal-desc">
                                    <h4>kitchen</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 gallery-grids-left pro-top">
                    <div class="gallery-grid">
                        <a href="~/images/g5.jpg" class="b-link-stripe b-animate-go  swipebox">
                            <div class="port-7 effect-3">
                                <div class="image-box">
                                    <img src="~/images/g5.jpg" alt=" ">
                                </div>
                                <div class="gal-desc">
                                    <h4>kitchen</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 gallery-grids-left pro-top">
                    <div class="gallery-grid">
                        <a href="~/images/g6.jpg" class="b-link-stripe b-animate-go  swipebox">
                            <div class="port-7 effect-3">
                                <div class="image-box">
                                    <img src="~/images/g6.jpg" alt=" ">
                                </div>
                                <div class="gal-desc">
                                    <h4>kitchen</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!--gallery-->
