<!--content-->
<div class="content">
    <div class="welcome-w3l">
        <div class="container">
            <h2 class="tittle">Welcome to Star Kitchen</h2>
            <div class="wel-grids">
                <div class="col-md-4 wel-grid  multi-gd-text">
                    <a href="#"><img src="~/images/w.jpg" class="img-responsive" alt="" /></a>
                </div>
                <div class="col-md-4 wel-grid  multi-gd-text">
                    <a href="#"><img src="~/images/w1.jpg" class="img-responsive" alt="" /></a>
                </div>
                <div class="col-md-4 wel-grid">
                    <div id="top" class="callbacks_container">
                        <ul class="rslides" id="slider">
                            <li>
                                <h4>Modular Kitchens</h4>
                                <p>With numerous innovations and never ending new ideas, we have driven forward trends that help to shape the flexibility and multifunctionality of today's furniture concepts.</p>
                            </li>
                            <li>
                                <h4>Bathroom Installations </h4>
                                <p>Our technology for furniture makes a valuable contribution to all this. We'll continue to be passionate about researching in the future too. Working on intelligent functions. </p>
                            </li>
                            <li>
                                <h4>What we do?</h4>
                                <p>Looking for Designs to liven up your Living Room, Bedroom, Bathroom & Kitchen?</p>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--welcome-->
    <!--Features-->
    <div class="features-w3">
        <div class="container">
            <h3 class="tittle">Our Best Features</h3>
            <div class="features-grids">
                <div class="col-md-6 feat-grid multi-gd-text">
                    <div class="feat-top">
                        <div class="col-md-6 feat-left">
                            <a href="#"><img src="~/images/f1.jpg" class="img-responsive" alt="" /></a>
                        </div>
                        <div class="col-md-6 feat-right">
                            <img src="~/images/f2.jpg" class="img-responsive" alt="" />
                            <img src="~/images/f3.jpg" class="img-responsive" alt="" />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <h4>Get Customized Modular Kitchens</h4>
                    <p>Get inspired and find innovative ideas and planning options illustrating what your kitchen furniture should look like with Hettich fitting technology. You can choose from the wide range of modular kitchen accessories & fittings by Star Kitchen</p>
                </div>
                <div class="col-md-6 feat-grid multi-gd-text">
                    <a href="#"><img src="images/f4.jpg" class="img-responsive" alt="" /></a>
                    <h4>L Shape Modular Kitchens</h4>
                    <p>L shape Beautiful Homes Service modern kitchen has two planes meeting to form a 90 degree angle. The two adjacent walls in an L-shape kitchen interior form a natural Sleek Work Triangle</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--testimonials-->
    <div class="clients-w3agile">
        <div class="container">
            <h3 class="tittle1">Clients</h3>
            <div class="flex-slider">
                <ul id="flexiselDemo1">
                    <li>
                        <div class="client">
                            <div class="col-md-4 team-left">
                                <img class="img-responsive" src="images/team1.jpg" alt=" " />
                            </div>
                            <div class="col-md-8 team-right">
                                <p>
                                    After researching on numerous store, Finally, I came to know about the Star Kitchen. The team suggested me most cost-efficient Kitchen designs. The finishesd strainght kitchen design looks excellent and it is so terrific.
                                    <h5>Prem Singh</h5>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </li>
                    <li>
                        <div class="client">
                            <div class="col-md-4 team-left">
                                <img class="img-responsive" src="images/team2.jpg" alt=" " />
                            </div>
                            <div class="col-md-8 team-right">
                                <p>Star Kitchen Suggested me U shaped kitchen design that was far better than I could have expected.</p>
                                <h5>Kirat Mahajan </h5>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </li>
                </ul>
                <script type="text/javascript">
									$(window).load(function() {
										$("#flexiselDemo1").flexisel({
											visibleItems: 2,
											animationSpeed: 1000,
											autoPlay: true,
											autoPlaySpeed: 3000,
											pauseOnHover: true,
											enableResponsiveBreakpoints: true,
											responsiveBreakpoints: {
												portrait: {
													changePoint:480,
													visibleItems: 1
												},
												landscape: {
													changePoint:640,
													visibleItems: 1
												},
												tablet: {
													changePoint:991,
													visibleItems: 1
												}
											}
										});

									});
                </script>
                <script type="text/javascript" src="~/js/jquery.flexisel.js"></script>
            </div>
        </div>
    </div>
    <!--testimonials-->
    <!--video-->
    <div class="video-w3">
        <div class="container">
            <div class="video-grids-left1">
                <a class="play-icon popup-with-zoom-anim" href="#small-dialog">
                    <span> </span>
                </a>
                <!-- pop-up-box -->
                <link href="~/css/popuo-box.css" rel="stylesheet" type="text/css" property="" media="all" />
                <script src="~/js/jquery.magnific-popup.js" type="text/javascript"></script>
                <!--//pop-up-box -->
                <div id="small-dialog" class="mfp-hide">
                    <iframe src="https://player.vimeo.com/video/105137006"></iframe>
                </div>
                <script>
								$(document).ready(function() {
								$('.popup-with-zoom-anim').magnificPopup({
									type: 'inline',
									fixedContentPos: false,
									fixedBgPos: true,
									overflowY: 'auto',
									closeBtnInside: true,
									preloader: false,
									midClick: true,
									removalDelay: 300,
									mainClass: 'my-mfp-zoom-in'
								});

								});
                </script>
            </div>
        </div>
    </div>
    <!--video-->
    <!--what-->
    <div class="what-w3ls">
        <div class="container">
            <h3 class="tittle1"> What we do</h3>
            <div class="tab-grids">
                <div class="col-md-6 what-grid1">
                    <div class="sap_tabs">
                        <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
                            <div class="resp-tabs-container">
                                <h2 class="resp-accordion " role="tab" aria-controls="tab_item-0"><span class="resp-arrow"></span></h2>
                                <div class="tab-1 resp-tab-content " aria-labelledby="tab_item-0">
                                    <div class="facts">
                                        <img src="~/images/pc.jpg" class="img-responsive" alt="">
                                    </div>
                                </div>
                                <h2 class="resp-accordion resp-tab-active" role="tab" aria-controls="tab_item-1"><span class="resp-arrow"></span></h2>
                                <div class="tab-1 resp-tab-content resp-tab-content-active" aria-labelledby="tab_item-1">
                                    <div class="facts">
                                        <img src="~/images/pc1.jpg" class="img-responsive" alt="">
                                    </div>
                                </div>
                                <h2 class="resp-accordion" role="tab" aria-controls="tab_item-2"><span class="resp-arrow"></span></h2>
                                <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-2">
                                    <div class="facts">
                                        <img src="~/images/pc2.jpg" class="img-responsive" alt="">
                                    </div>
                                </div>
                                <h2 class="resp-accordion" role="tab" aria-controls="tab_item-3"><span class="resp-arrow"></span></h2>
                                <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-3">
                                    <div class="facts">
                                        <img src="~/images/pc3.jpg" class="img-responsive" alt="">

                                    </div>
                                </div>
                            </div>
                            <ul class="resp-tabs-list">
                                <li class="resp-tab-item resp-tab-active" aria-controls="tab_item-0" role="tab"><span><img src="images/pic.jpg" class="img-responsive" alt=""></span></li>
                                <li class="resp-tab-item " aria-controls="tab_item-1" role="tab"><span><img src="images/pic1.jpg" class="img-responsive" alt=""></span></li>
                                <li class="resp-tab-item" aria-controls="tab_item-2" role="tab"><span><img src="images/pic2.jpg" class="img-responsive" alt=""></span></li>
                                <li class="resp-tab-item" aria-controls="tab_item-3" role="tab"><span><img src="images/pic3.jpg" class="img-responsive" alt=""></span></li>
                                <div class="clearfix"> </div>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 what-grid">
                    <h4>Modular Kitchen – A must-have for your house</h4>
                    <p>No matter what type of house you live in, kitchen holds a special place. There were times when kitchen was utilized only for preparing food and was separated from the other rooms so as to avoid mess. But, with the change in lifestyle, kitchen style has evolved too. Nowadays, kitchens are relatively larger and can be used in a variety of ways that best suit your needs. Modular kitchens are making a big impression in Indian homes.</p>
                    <p>In this type of kitchen, there are multiple layers of cabinets that give your kitchen an elegant look. Other than cabinets, wall units are also an important part of the modular kitchen.</p>
                    <ul class="grid-part">
                        <li><i class="glyphicon glyphicon-ok-sign"> </i>Bathroom Installations</li>
                        <li><i class="glyphicon glyphicon-ok-sign"> </i>Kitchen Installations</li>
                        <li><i class="glyphicon glyphicon-ok-sign"> </i>Bedroom Wardrobe</li>
                        <li><i class="glyphicon glyphicon-ok-sign"> </i>Plumbing</li>
                        <li><i class="glyphicon glyphicon-ok-sign"> </i>Wiring</li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--what-->

</div>
<!--content-->